Repository react-native-documents/document-picker: changes, and which lefthook commands are due for each by the changed paths.
All: prettify, lint, typecheck

prettify:
  run: npx prettier -w {staged_files}
  stage_fixed: true

lint:
  run: npx eslint {staged_files}

typecheck:
  run: npx tsc --noEmit

fix: follow builder bob config
  packages/document-picker/tsconfig.build.json
  packages/document-viewer/tsconfig.build.json
Due: none

chore: bundle in ci
  .github/workflows/nodejs.yml
Due: none

feat: do not ship commonjs build (#876)
  .changeset/large-doors-return.md
  .github/workflows/nodejs.yml
  docs/docs/install.mdx
  example/ios/Podfile.lock
  example/package.json
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerModule.kt
  packages/document-picker/package.json
  packages/document-picker/react-native-document-picker.podspec
  packages/document-picker/tsconfig.build.json
  packages/document-viewer/package.json
  packages/document-viewer/tsconfig.build.json
  yarn.lock
Due: prettify

fix(android): couldn't find meta-data for provider
  packages/document-viewer/android/src/main/java/com/reactnativedocumentviewer/RNDocumentViewerModule.kt
Due: none

Fix meta-data provider issue on Android
  .changeset/wet-impalas-push.md
Due: prettify

fix(android): couldn't find meta-data for provider (#879)
  .changeset/wet-impalas-push.md
  packages/document-viewer/android/src/main/java/com/reactnativedocumentviewer/RNDocumentViewerModule.kt
Due: prettify

actually fix authority string for FileProvider
  packages/document-viewer/android/src/main/java/com/reactnativedocumentviewer/RNDocumentViewerModule.kt
Due: none

Fix authority string for FileProvider
  .changeset/honest-flowers-repeat.md
Due: prettify

fix(viewer): authority string for FileProvider (#881)
  .changeset/honest-flowers-repeat.md
  packages/document-viewer/android/src/main/java/com/reactnativedocumentviewer/RNDocumentViewerModule.kt
Due: prettify

Support React Native 0.78 for react-native-document-picker (#827)
  .changeset/lucky-rings-end.md
  android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerModule.java
Due: prettify

docs: document viewDocument behavior
  docs/docs/sponsor-only/viewer.mdx
Due: prettify

docs: document viewDocument behavior (#889)
  docs/docs/sponsor-only/viewer.mdx
Due: prettify

fix: clean up gradle files
  example/babel.config.js
  example/ios/Podfile.lock
  example/metro.config.js
  example/package.json
  packages/document-picker/android/build.gradle
  packages/document-picker/android/gradle.properties
  packages/document-picker/android/src/main/AndroidManifest.xml
  packages/document-viewer/android/build.gradle
  packages/document-viewer/android/gradle.properties
  packages/document-viewer/android/src/main/AndroidManifest.xml
  yarn.lock
Due: prettify, lint, typecheck

Remove patch entry for 'react-native-documents-example'
  .changeset/short-eels-join.md
Due: prettify

fix: clean up gradle files (#890)
  .changeset/short-eels-join.md
  example/babel.config.js
  example/ios/Podfile.lock
  example/metro.config.js
  example/package.json
  packages/document-picker/android/build.gradle
  packages/document-picker/android/gradle.properties
  packages/document-picker/android/src/main/AndroidManifest.xml
  packages/document-viewer/android/build.gradle
  packages/document-viewer/android/gradle.properties
  packages/document-viewer/android/src/main/AndroidManifest.xml
  yarn.lock
Due: prettify, lint, typecheck

fix: viewer module errorCodes
  packages/document-viewer/android/src/main/java/com/reactnativedocumentviewer/RNDocumentViewerModule.kt
  packages/document-viewer/ios/RNDocumentViewer.mm
  packages/document-viewer/src/errors.ts
  packages/document-viewer/src/index.ts
  packages/document-viewer/src/spec/NativeDocumentViewer.ts
Due: prettify, lint, typecheck

Bump @react-native-documents/viewer to major version
  .changeset/friendly-masks-vanish.md
Due: prettify

fix: old arch
  packages/document-viewer/android/src/paper/java/com/reactnativedocumentviewer/NativeDocumentViewerSpec.java
Due: none

fix: viewer module errorCodes (#892)
  .changeset/friendly-masks-vanish.md
  packages/document-viewer/android/src/main/java/com/reactnativedocumentviewer/RNDocumentViewerModule.kt
  packages/document-viewer/android/src/paper/java/com/reactnativedocumentviewer/NativeDocumentViewerSpec.java
  packages/document-viewer/ios/RNDocumentViewer.mm
  packages/document-viewer/src/errors.ts
  packages/document-viewer/src/index.ts
  packages/document-viewer/src/spec/NativeDocumentViewer.ts
Due: prettify, lint, typecheck

fix: use promiseWrapper for all rejections in pick, pickDirectory, and saveDocument
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerModule.kt
Due: none

Fix promise rejections in document picker methods
  .changeset/perfect-ways-try.md
Due: prettify

fix: use promiseWrapper for all rejections in pick, pickDirectory, and saveDocument (#896)
  .changeset/perfect-ways-try.md
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerModule.kt
Due: prettify

fix: remove use of deprecated currentActivity getter
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerModule.kt
Due: none

Fix deprecated currentActivity getter usage
  .changeset/healthy-pots-rescue.md
Due: prettify

fix: remove use of deprecated currentActivity getter (#900)
  .changeset/healthy-pots-rescue.md
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerModule.kt
Due: prettify

feat(ios): support swift 6 concurrency
  packages/document-picker/ios/RNDocumentPicker.mm
  packages/document-picker/ios/swift/DocPicker.swift
  packages/document-picker/ios/swift/DocSaver.swift
  packages/document-picker/ios/swift/DocumentMetadataBuilder.swift
  packages/document-picker/ios/swift/FileOperations.swift
  packages/document-picker/ios/swift/IsKnownTypeImpl.swift
  packages/document-picker/ios/swift/LocalCopyResponse.swift
  packages/document-picker/ios/swift/PickerBase.swift
  packages/document-picker/ios/swift/PickerOptions.swift
  packages/document-picker/ios/swift/PromiseSupport.swift
  packages/document-picker/ios/swift/PromiseWrapper.swift
  packages/document-picker/ios/swift/SaverOptions.swift
  packages/document-picker/react-native-document-picker.podspec
  packages/document-picker/src/__tests__/__snapshots__/index.test.ts.snap
  packages/document-picker/src/errors.ts
  packages/document-picker/src/release.ts
  packages/document-picker/src/saveDocuments.ts
  packages/document-picker/src/types.ts
Due: prettify, lint, typecheck

fix(android): cancel coroutine scope on React context reload
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerModule.kt
Due: none

fix: simplify coroutine cancelation to avoid hanging promises
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerModule.kt
Due: none

Create tasty-seas-hope.md
  .changeset/tasty-seas-hope.md
Due: prettify

fix: simplify coroutine cancelation to avoid hanging promises (#912)
  .changeset/tasty-seas-hope.md
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerModule.kt
Due: prettify

chore(android): internal refactors
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/CopyDestination.kt
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/DocumentMetadataBuilder.kt
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/FileOperations.kt
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/IntentFactory.kt
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/IsKnownTypeImpl.kt
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/MetadataGetter.kt
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/PickOptions.kt
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/PromiseWrapper.java
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/PromiseWrapper.kt
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerModule.kt
  packages/document-picker/package.json
Due: none

Improve error handling for file metadata queries
  .changeset/mighty-carrots-itch.md
Due: prettify

Update picker package version to major
  .changeset/spotty-queens-smash.md
Due: prettify

chore(android): improve error handling when querying files metadata (#909)
  .changeset/mighty-carrots-itch.md
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/CopyDestination.kt
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/DocumentMetadataBuilder.kt
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/FileOperations.kt
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/IntentFactory.kt
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/IsKnownTypeImpl.kt
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/MetadataGetter.kt
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/PickOptions.kt
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/PromiseWrapper.java
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/PromiseWrapper.kt
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerModule.kt
  packages/document-picker/package.json
Due: prettify

feat(ios): support swift 6 concurrency (#908)
  .changeset/spotty-queens-smash.md
  packages/document-picker/ios/RNDocumentPicker.mm
  packages/document-picker/ios/swift/DocPicker.swift
  packages/document-picker/ios/swift/DocSaver.swift
  packages/document-picker/ios/swift/DocumentMetadataBuilder.swift
  packages/document-picker/ios/swift/FileOperations.swift
  packages/document-picker/ios/swift/IsKnownTypeImpl.swift
  packages/document-picker/ios/swift/LocalCopyResponse.swift
  packages/document-picker/ios/swift/PickerBase.swift
  packages/document-picker/ios/swift/PickerOptions.swift
  packages/document-picker/ios/swift/PromiseSupport.swift
  packages/document-picker/ios/swift/PromiseWrapper.swift
  packages/document-picker/ios/swift/SaverOptions.swift
  packages/document-picker/react-native-document-picker.podspec
  packages/document-picker/src/__tests__/__snapshots__/index.test.ts.snap
  packages/document-picker/src/errors.ts
  packages/document-picker/src/release.ts
  packages/document-picker/src/saveDocuments.ts
  packages/document-picker/src/types.ts
Due: prettify, lint, typecheck

fix: remove commonjs require from jest/setup for document picker
  packages/document-picker/jest/setup.ts
Due: prettify, lint, typecheck

adds changeset
  .changeset/sharp-days-sort.md
Due: prettify

fix: remove commonjs require from jest/setup for document picker (#916)
  .changeset/sharp-days-sort.md
  packages/document-picker/jest/setup.ts
Due: prettify, lint, typecheck

chore: add readmes
  packages/document-picker/README.md
  packages/document-picker/package.json
  packages/document-viewer/README.md
  packages/document-viewer/package.json
Due: prettify

fix: improve error message
  packages/document-viewer/ios/RNDocumentViewer.mm
Due: none

Path conditions:
  prettify: any of: *.{js,ts,jsx,tsx,md,mdx}
  lint: any of: *.{js,ts,jsx,tsx}
  typecheck: any of: *.{js,ts,jsx,tsx}
