Repository react-native-documents/document-picker: changes, and which lefthook commands are due for each by the changed paths.
All: prettify, lint, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettify:
      glob: "*.{js,ts,jsx,tsx,md,mdx}"
      run: npx prettier -w {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    typecheck:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

chore: disable blank issues (#786)
  .github/ISSUE_TEMPLATE/config.yml
Due: none

chore: update feature_request.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Due: none

chore: update feature_request.yaml (#787)
  .github/ISSUE_TEMPLATE/feature_request.yaml
Due: none

chore: update support.yml
  .github/workflows/support.yml
Due: none

chore: update support.yml (#790)
  .github/workflows/support.yml
Due: none

Update index.ts for viewer
  packages/document-viewer/src/index.ts
Due: prettify, lint, typecheck

Create big-schools-appear.md
  .changeset/big-schools-appear.md
Due: prettify

fix: add missing error exports to document viewer test setup
  packages/document-viewer/jest/setup.ts
Due: prettify, lint, typecheck

fix: export `errorCodes`, `isErrorWithCode` from viewer module (#796)
  .changeset/big-schools-appear.md
  packages/document-viewer/jest/setup.ts
  packages/document-viewer/src/index.ts
Due: prettify, lint, typecheck

docs: tiny improvements
  docs/docs/doc-viewer-api/index.md
  docs/docs/sponsor-only/intro.md
  docs/docs/sponsor-only/license.md
  docs/docs/sponsor-only/picker/directory-picker.mdx
  docs/docs/sponsor-only/picker/integrating-on-android.mdx
  docs/docs/sponsor-only/picker/keeping-local-copy.mdx
  docs/docs/sponsor-only/viewer.mdx
  docs/docusaurus.config.ts
  docs/src/pages/example.md
  docs/src/pages/github-repo.md
Due: prettify, lint, typecheck

docs: tiny improvements (#800)
  docs/docs/doc-viewer-api/index.md
  docs/docs/sponsor-only/intro.md
  docs/docs/sponsor-only/license.md
  docs/docs/sponsor-only/picker/directory-picker.mdx
  docs/docs/sponsor-only/picker/integrating-on-android.mdx
  docs/docs/sponsor-only/picker/keeping-local-copy.mdx
  docs/docs/sponsor-only/viewer.mdx
  docs/docusaurus.config.ts
  docs/src/pages/example.md
  docs/src/pages/github-repo.md
Due: prettify, lint, typecheck

chore: improve issue template
  .github/ISSUE_TEMPLATE/custom.yaml
  patches/react-native-test-app+3.2.0.patch
Due: none

chore: improve issue template (#803)
  .github/ISSUE_TEMPLATE/custom.yaml
  patches/react-native-test-app+3.2.0.patch
Due: none

chore: improve issue template again
  .github/ISSUE_TEMPLATE/custom.yaml
Due: none

chore: improve issue template again (#804)
  .github/ISSUE_TEMPLATE/custom.yaml
Due: none

chore: improve issue template again (#805)
  .github/ISSUE_TEMPLATE/custom.yaml
Due: none

chore: minor docs change
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/css/custom.css
Due: prettify, lint, typecheck

chore: minor docs change (#807)
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/css/custom.css
Due: prettify, lint, typecheck

fix(android): invalid column flags
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/MetadataGetter.kt
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerModule.kt
Due: none

Create funny-pugs-cover.md
  .changeset/funny-pugs-cover.md
Due: prettify

fix(android): invalid column flags (#811)
  .changeset/funny-pugs-cover.md
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/MetadataGetter.kt
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerModule.kt
Due: prettify

fix(android): unify bookmark status key across platforms
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerModule.kt
Due: none

Apply suggestions from code review
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerModule.kt
Due: none

Create flat-pumpkins-matter.md
  .changeset/flat-pumpkins-matter.md
Due: prettify

fix(android): correct long term access directory picker response (#823)
  .changeset/flat-pumpkins-matter.md
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerModule.kt
Due: prettify

remove GuardedResultAsyncTask
  android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerModule.java
Due: none

chore: add changeset
  .changeset/lucky-rings-end.md
Due: prettify

chore: kotlin-coroutines implementation
  android/build.gradle
  android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerModule.java
  android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerModule.kt
  android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerPackage.java
  package.json
Due: none

update
  android/build.gradle
  android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerModule.kt
Due: none

refactor: copy streams differently
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/FileOperations.kt
Due: none

Create twenty-bikes-hunt.md
  .changeset/twenty-bikes-hunt.md
Due: prettify

refactor: copy streams differently (#842)
  .changeset/twenty-bikes-hunt.md
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/FileOperations.kt
Due: prettify

refactor(ios): simplify file moves
  packages/document-picker/ios/swift/DocPicker.swift
  packages/document-picker/ios/swift/FileOperations.swift
  packages/document-picker/ios/swift/IsKnownTypeImpl.swift
Due: none

Create tasty-plums-carry.md
  .changeset/tasty-plums-carry.md
Due: prettify

refactor(ios): simplify file moves (#845)
  .changeset/tasty-plums-carry.md
  packages/document-picker/ios/swift/DocPicker.swift
  packages/document-picker/ios/swift/FileOperations.swift
  packages/document-picker/ios/swift/IsKnownTypeImpl.swift
Due: prettify

initial update for macos
  packages/document-picker/macos/RCTConvert+RNDocumentPicker.h
  packages/document-picker/macos/RCTConvert+RNDocumentPicker.mm
  packages/document-picker/macos/RNDocumentPicker.h
  packages/document-picker/macos/RNDocumentPicker.mm
  packages/document-picker/macos/swift/DocPicker.swift
  packages/document-picker/macos/swift/DocSaver.swift
  packages/document-picker/macos/swift/DocumentMetadataBuilder.swift
  packages/document-picker/macos/swift/IsKnownTypeImpl.swift
  packages/document-picker/macos/swift/PickerBase.swift
  packages/document-picker/macos/swift/PickerOptions.swift
  packages/document-picker/macos/swift/PromiseSupport.swift
  packages/document-picker/macos/swift/PromiseWrapper.swift
  packages/document-picker/macos/swift/SaverOptions.swift
  packages/document-picker/package.json
  packages/document-picker/react-native-document-picker.podspec
Due: none

added document-viewer initial macos
  packages/document-viewer/macos/RNDPreviewItem.h
  packages/document-viewer/macos/RNDPreviewItem.mm
  packages/document-viewer/macos/RNDocumentViewer.h
  packages/document-viewer/macos/RNDocumentViewer.mm
  packages/document-viewer/package.json
  packages/document-viewer/react-native-document-viewer.podspec
Due: none

fix(macos): resolve type errors in document-picker Swift files
  package-lock.json
  package.json
  packages/document-picker/macos/swift/DocSaver.swift
  packages/document-picker/macos/swift/FileOperations.swift
  packages/document-picker/macos/swift/LocalCopyResponse.swift
  packages/example/ios/Podfile.lock
  yarn.lock
Due: none
