Repository react-native-documents/document-picker: changes, and which lefthook commands are due for each by the changed paths.
All: prettify, lint, typecheck

prettify:
  run: npx prettier -w {staged_files}
  stage_fixed: true

lint:
  run: npx eslint {staged_files}

typecheck:
  run: npx tsc --noEmit

fix: correct method signatures in macOS RNDocumentPicker.mm to resolve build errors
  packages/document-picker/ios/RNDocumentPicker.mm
  packages/document-picker/ios/react-native-document-picker-umbrella.h
  packages/document-picker/ios/swift/PickerOptions.swift
  packages/document-picker/ios/swift/SaverOptions.swift
  packages/document-picker/macos/RCTConvert+RNDocumentPicker.h
  packages/document-picker/macos/RCTConvert+RNDocumentPicker.mm
  packages/document-picker/macos/RNDocumentPicker.mm
  packages/document-picker/macos/react-native-document-picker-umbrella.h
  packages/document-picker/macos/swift/DocPicker.swift
  packages/document-picker/macos/swift/PickerOptions.swift
  packages/document-picker/macos/swift/SaverOptions.swift
  packages/document-picker/react-native-document-picker-Bridging-Header.h
  packages/document-picker/react-native-document-picker.podspec
Due: none

Add named import instructions
  docs/docs/sponsor-only/migration.md
Due: prettify

chore: update issue template
  .github/ISSUE_TEMPLATE/custom.yaml
Due: none

chore: update issue template (#853)
  .github/ISSUE_TEMPLATE/custom.yaml
Due: none

docs: add named import migration instructions (#851)
  docs/docs/sponsor-only/migration.md
Due: prettify

fix: remove use of deprecated api
  .github/workflows/nodejs.yml
  packages/document-viewer/android/src/main/java/com/reactnativedocumentviewer/RNDocumentViewerModule.kt
  packages/document-viewer/package.json
Due: none

fix: remove use of deprecated api (#857)
  .github/workflows/nodejs.yml
  packages/document-viewer/android/src/main/java/com/reactnativedocumentviewer/RNDocumentViewerModule.kt
  packages/document-viewer/package.json
Due: none

Revert "fix: remove use of deprecated api (#857)"
  .github/workflows/nodejs.yml
  packages/document-viewer/android/src/main/java/com/reactnativedocumentviewer/RNDocumentViewerModule.kt
  packages/document-viewer/package.json
Due: none

Revert "fix: remove use of deprecated api (#857)" (#858)
  .github/workflows/nodejs.yml
  packages/document-viewer/android/src/main/java/com/reactnativedocumentviewer/RNDocumentViewerModule.kt
  packages/document-viewer/package.json
Due: none

Create khaki-donuts-know.md
  .changeset/khaki-donuts-know.md
Due: prettify

fix: remove use of deprecated api (#859)
  .changeset/khaki-donuts-know.md
  .github/workflows/nodejs.yml
  packages/document-viewer/android/src/main/java/com/reactnativedocumentviewer/RNDocumentViewerModule.kt
  packages/document-viewer/package.json
Due: prettify

chore: fix workflow permission
  .github/workflows/nodejs.yml
Due: none

chore: fix workflow permission (#860)
  .github/workflows/nodejs.yml
Due: none

chore: fix workflow permission (#861)
  .github/workflows/nodejs.yml
Due: none

chore: attempt fix ci release
  .github/workflows/nodejs.yml
Due: none

chore: attempt fix ci release (#864)
  .github/workflows/nodejs.yml
Due: none

chore: attempt 2 fix ci release
  .github/workflows/nodejs.yml
Due: none

chore: attempt 2 fix ci release (#865)
  .github/workflows/nodejs.yml
Due: none

fix(android): remove deprecated activity getters
  .github/workflows/ios.yml
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerModule.kt
Due: none

chore: remove uitextview dep
  example/ios/Podfile.lock
  example/src/components/SelectableText.tsx
  package.json
  yarn.lock
Due: prettify, lint, typecheck

Fix deprecated activity getters in Android
  .changeset/late-rockets-report.md
Due: prettify

chore: yarn install
  yarn.lock
Due: none

chore: yarn install
  example/package.json
  yarn.lock
Due: none

fix(android): remove deprecated activity getters (#867)
  .changeset/late-rockets-report.md
  .github/workflows/ios.yml
  example/ios/Podfile.lock
  example/package.json
  example/src/components/SelectableText.tsx
  package.json
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerModule.kt
  yarn.lock
Due: prettify, lint, typecheck

fix: remove use of deprecated apis
  .github/workflows/android.yml
  .github/workflows/ios.yml
  example/android/gradle.properties
  example/package.json
  package.json
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/MetadataGetter.kt
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerPackage.java
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerPackage.kt
  packages/document-picker/ios/RNDocumentPicker.mm
  packages/document-viewer/android/src/main/java/com/reactnativedocumentviewer/RNDocumentViewerPackage.java
  packages/document-viewer/android/src/main/java/com/reactnativedocumentviewer/RNDocumentViewerPackage.kt
  yarn.lock
Due: none

chore: add badge
  README.md
Due: prettify

chore: lockfile
  .eslintrc.js
  example/ios/Podfile.lock
Due: prettify, lint, typecheck

Remove deprecated APIs from documents package
  .changeset/swift-worms-approve.md
Due: prettify

fix: remove use of deprecated RN core apis (#869)
  .changeset/swift-worms-approve.md
  .eslintrc.js
  .github/workflows/android.yml
  .github/workflows/ios.yml
  README.md
  example/android/gradle.properties
  example/ios/Podfile.lock
  example/package.json
  package.json
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/MetadataGetter.kt
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerPackage.java
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerPackage.kt
  packages/document-picker/ios/RNDocumentPicker.mm
  packages/document-viewer/android/src/main/java/com/reactnativedocumentviewer/RNDocumentViewerPackage.java
  packages/document-viewer/android/src/main/java/com/reactnativedocumentviewer/RNDocumentViewerPackage.kt
  yarn.lock
Due: prettify, lint, typecheck

docs: example link
  docs/docusaurus.config.ts
Due: prettify, lint, typecheck

docs: fix example link (#871)
  docs/docusaurus.config.ts
Due: prettify, lint, typecheck

changed file provider to prevent clash with other packages
  packages/document-viewer/android/src/main/AndroidManifest.xml
Due: none

Update file provider to be unique to package
  .changeset/strong-baboons-allow.md
Due: prettify

fix(viewer): made file provider unique to prevent clash with other packages (#872)
  .changeset/strong-baboons-allow.md
  packages/document-viewer/android/src/main/AndroidManifest.xml
Due: prettify

feat: do not ship commonjs
  docs/docs/install.mdx
  example/ios/Podfile.lock
  example/package.json
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerModule.kt
  packages/document-picker/package.json
  packages/document-picker/react-native-document-picker.podspec
  packages/document-viewer/package.json
  yarn.lock
Due: prettify

Update versioning for picker and viewer to major
  .changeset/large-doors-return.md
Due: prettify

Path conditions:
  prettify: any of: *.{js,ts,jsx,tsx,md,mdx}
  lint: any of: *.{js,ts,jsx,tsx}
  typecheck: any of: *.{js,ts,jsx,tsx}
