Repository react-native-documents/document-picker: changes, and which lefthook commands are due for each by the changed paths.
All: prettify, lint, typecheck

prettify:
  run: npx prettier -w {staged_files}
  stage_fixed: true

lint:
  run: npx eslint {staged_files}

typecheck:
  run: npx tsc --noEmit

chore: add readmes (#920)
  packages/document-picker/README.md
  packages/document-picker/package.json
  packages/document-viewer/README.md
  packages/document-viewer/package.json
Due: prettify

Improve error message in funny-buses-invite
  .changeset/funny-buses-invite.md
Due: prettify

fix: improve error message (#921)
  .changeset/funny-buses-invite.md
  packages/document-viewer/ios/RNDocumentViewer.mm
Due: prettify

docs: bump docusaurus
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  docs/babel.config.js
  docs/docs/doc-picker-api/index.md
  docs/docs/doc-picker-api/typedoc-sidebar.cjs
  docs/docs/doc-viewer-api/index.md
  docs/docs/doc-viewer-api/typedoc-sidebar.cjs
  docs/docs/install.mdx
  docs/docusaurus.config.ts
  docs/package.json
  docs/src/components/HomepageFeatures/index.tsx
  docs/yarn.lock
  package.json
  packages/document-picker/src/isKnownType.ts
  packages/document-picker/src/types.ts
  packages/document-viewer/src/index.ts
Due: prettify, lint, typecheck

docs: bump docusaurus (#922)
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  docs/babel.config.js
  docs/docs/doc-picker-api/index.md
  docs/docs/doc-picker-api/typedoc-sidebar.cjs
  docs/docs/doc-viewer-api/index.md
  docs/docs/doc-viewer-api/typedoc-sidebar.cjs
  docs/docs/install.mdx
  docs/docusaurus.config.ts
  docs/package.json
  docs/src/components/HomepageFeatures/index.tsx
  docs/yarn.lock
  package.json
  packages/document-picker/src/isKnownType.ts
  packages/document-picker/src/types.ts
  packages/document-viewer/src/index.ts
Due: prettify, lint, typecheck

docs: update README with package badges and support information
  README.md
Due: prettify

docs: update README with package badges and support information (#923)
  README.md
Due: prettify

fix: unique FileProvider name to prevent conflict
  packages/document-viewer/android/src/main/AndroidManifest.xml
  packages/document-viewer/android/src/main/java/com/reactnativedocumentviewer/DocumentViewerFileProvider.kt
  packages/document-viewer/android/src/main/java/com/reactnativedocumentviewer/RNDocumentViewerModule.kt
Due: none

chore: add changeset
  .changeset/fileprovider-conflict.md
Due: prettify

Update .changeset/fileprovider-conflict.md
  .changeset/fileprovider-conflict.md
Due: prettify

fix: unique FileProvider name to prevent conflict (#929)
  .changeset/fileprovider-conflict.md
  packages/document-viewer/android/src/main/AndroidManifest.xml
  packages/document-viewer/android/src/main/java/com/reactnativedocumentviewer/DocumentViewerFileProvider.kt
  packages/document-viewer/android/src/main/java/com/reactnativedocumentviewer/RNDocumentViewerModule.kt
Due: prettify

docs: add descriptions to docs pages and improve LLM support in build script
  docs/docs/install.mdx
  docs/docs/sponsor-only/errors.md
  docs/docs/sponsor-only/intro.md
  docs/docs/sponsor-only/jest-mocks.md
  docs/docs/sponsor-only/license.md
  docs/docs/sponsor-only/migration.md
  docs/docs/sponsor-only/picker/directory-picker.mdx
  docs/docs/sponsor-only/picker/integrating-on-android.mdx
  docs/docs/sponsor-only/picker/keeping-local-copy.mdx
  docs/docs/sponsor-only/picker/save-as-dialog.mdx
  docs/docs/sponsor-only/picker/virtual-files.md
  docs/docs/sponsor-only/viewer.mdx
  docs/docusaurus.config.ts
  docs/package.json
  docs/scripts/clean-llm-files.mjs
Due: prettify, lint, typecheck

docs: add descriptions to docs pages and improve LLM support in build script (#935)
  docs/docs/install.mdx
  docs/docs/sponsor-only/errors.md
  docs/docs/sponsor-only/intro.md
  docs/docs/sponsor-only/jest-mocks.md
  docs/docs/sponsor-only/license.md
  docs/docs/sponsor-only/migration.md
  docs/docs/sponsor-only/picker/directory-picker.mdx
  docs/docs/sponsor-only/picker/integrating-on-android.mdx
  docs/docs/sponsor-only/picker/keeping-local-copy.mdx
  docs/docs/sponsor-only/picker/save-as-dialog.mdx
  docs/docs/sponsor-only/picker/virtual-files.md
  docs/docs/sponsor-only/viewer.mdx
  docs/docusaurus.config.ts
  docs/package.json
  docs/scripts/clean-llm-files.mjs
Due: prettify, lint, typecheck

Update Renovate configuration to include best practices
  renovate.json
Due: none

chore: update Renovate configuration to include best practices (#966)
  renovate.json
Due: none

chore: add npmMinimalAgeGate
  .yarnrc.yml
Due: none

chore: add npmMinimalAgeGate (#969)
  .yarnrc.yml
Due: none

fix(android): replace GuardedResultAsyncTask with AsyncTask for RN 0.85+
  android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerModule.java
Due: none

invariant
  src/invariant.d.ts
Due: prettify, lint, typecheck

ts config
  tsconfig.json
Due: none

fix: correct podspec source URLs
  .changeset/fix-podspec-source.md
  packages/document-picker/react-native-document-picker.podspec
  packages/document-viewer/react-native-document-viewer.podspec
Due: prettify

fix: correct podspec source URLs (#999)
  .changeset/fix-podspec-source.md
  packages/document-picker/react-native-document-picker.podspec
  packages/document-viewer/react-native-document-viewer.podspec
Due: prettify

fix(android): skip explicit Kotlin plugin when AGP registers the kotlin extension
  packages/document-picker/android/build.gradle
  packages/document-viewer/android/build.gradle
Due: none

Path conditions:
  prettify: any of: *.{js,ts,jsx,tsx,md,mdx}
  lint: any of: *.{js,ts,jsx,tsx}
  typecheck: any of: *.{js,ts,jsx,tsx}
