Repository react-native-documents/document-picker: changes, and which lefthook commands are due for each by the changed paths.
All: prettify, lint, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettify:
      glob: "*.{js,ts,jsx,tsx,md,mdx}"
      run: npx prettier -w {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    typecheck:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

docs: update docs
  docs/docs/doc-picker-api/index.md
  docs/docs/doc-viewer-api/index.md
  docs/docs/install.mdx
  docs/docs/public/document-picker.md
  docs/docs/sponsor-only/intro.md
  docs/docs/sponsor-only/license.md
  docs/docs/sponsor-only/migration.md
  docs/docs/sponsor-only/roadmap-and-changelog.md
  docs/docusaurus.config.ts
  docs/sidebars.ts
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/pages/example.md
  docs/src/pages/github-repo.md
  docs/src/pages/index.tsx
Due: prettify, lint, typecheck

chore: update ci files
  .changeset/README.md
  .changeset/config.json
  .github/workflows/nodejs.yml
  package.json
  packages/document-picker/package.json
  packages/document-viewer/package.json
  packages/example/package.json
  yarn.lock
Due: prettify

chore: add changeset
  .changeset/gorgeous-kiwis-obey.md
Due: prettify

chore: fix licenses
  LICENSE.md
  packages/document-picker/LICENSE.md
  packages/document-viewer/LICENSE.md
Due: prettify

chore: fix publishConfig
  .changeset/config.json
  .github/workflows/deploy-docs.yml
  README.md
  package.json
  packages/document-picker/package.json
  packages/document-viewer/package.json
  packages/example/package.json
Due: prettify

chore: fix ci publishing
  .github/workflows/nodejs.yml
Due: none

chore: fix ci publishing (#748)
  .github/workflows/nodejs.yml
Due: none

docs: update README.md
  README.md
Due: prettify

docs: update README.md (#750)
  README.md
Due: prettify

chore: deploy docs only when they are changed
  .github/workflows/deploy-docs.yml
Due: none

chore: deploy docs only when they are changed (#751)
  .github/workflows/deploy-docs.yml
Due: none

Fix iOS picker cancelled error code to match JS expected value
  packages/document-picker/ios/swift/PromiseWrapper.swift
Due: none

Create kind-trains-smoke.md
  .changeset/kind-trains-smoke.md
Due: prettify

chore: prettier ignore changesets
  .prettierignore
Due: none

chore: prettier ignore changesets (#762)
  .prettierignore
Due: none

fix(ios): picker cancelled error code to match JS expected value (#761)
  .changeset/kind-trains-smoke.md
  packages/document-picker/ios/swift/PromiseWrapper.swift
Due: prettify

Fix fileName
  docs/docs/sponsor-only/picker/save-as-dialog.mdx
Due: prettify

docs: fix param name (#765)
  docs/docs/sponsor-only/picker/save-as-dialog.mdx
Due: prettify

feat: support react native 0.77
  .yarn/releases/yarn-4.5.1.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  docs/docs/install.mdx
  docs/docusaurus.config.ts
  package.json
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/FileOperations.kt
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerModule.kt
  packages/document-picker/package.json
  packages/document-viewer/package.json
  packages/example/ios/Podfile.lock
  packages/example/package.json
  yarn.lock
Due: prettify, lint, typecheck

Create neat-games-lie.md
  .changeset/neat-games-lie.md
Due: prettify

chore: yarn immutable
  .github/workflows/android.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/ios.yml
  .github/workflows/nodejs.yml
Due: none

feat: support react native 0.77 (#766)
  .changeset/neat-games-lie.md
  .github/workflows/android.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/ios.yml
  .github/workflows/nodejs.yml
  .yarn/releases/yarn-4.5.1.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  docs/docs/install.mdx
  docs/docusaurus.config.ts
  package.json
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/FileOperations.kt
  packages/document-picker/android/src/main/java/com/reactnativedocumentpicker/RNDocumentPickerModule.kt
  packages/document-picker/package.json
  packages/document-viewer/package.json
  packages/example/ios/Podfile.lock
  packages/example/package.json
  yarn.lock
Due: prettify, lint, typecheck

fix: fix ios build with use_frameworks static
  packages/document-picker/ios/RNDocumentPicker.mm
Due: none

Create gorgeous-countries-exist.md
  .changeset/gorgeous-countries-exist.md
Due: prettify

Fix: the license display incorrectly on npmjs.com
  package.json
Due: none

Update the license field in all the package.json files
  packages/document-picker/package.json
  packages/document-viewer/package.json
  packages/example/package.json
Due: none

chore: update podspec
  packages/document-picker/ios/RNDocumentPicker.mm
  packages/document-picker/react-native-document-picker.podspec
  packages/example/ios/Podfile.lock
Due: none

chore: add workflow_dispatch on ci
  .github/workflows/ios.yml
  packages/document-picker/ios/RNDocumentPicker.mm
Due: none

fix: fix header import
  packages/document-picker/ios/RNDocumentPicker.mm
Due: none

chore: revert workflow_dispatch
  .github/workflows/ios.yml
Due: none

chore: specify MIT license in package.json (#773)
  package.json
  packages/document-picker/package.json
  packages/document-viewer/package.json
  packages/example/package.json
Due: none

Update packages/document-picker/react-native-document-picker.podspec
  packages/document-picker/react-native-document-picker.podspec
Due: none

fix(ios): allow building with use_frameworks static (#771)
  .changeset/gorgeous-countries-exist.md
  packages/document-picker/ios/RNDocumentPicker.mm
  packages/document-picker/react-native-document-picker.podspec
  packages/example/ios/Podfile.lock
Due: prettify

chore: cleaner podspec
  packages/document-picker/react-native-document-picker.podspec
  packages/document-viewer/react-native-document-viewer.podspec
Due: none

chore: updates to issue template and gh actions
  .github/ISSUE_TEMPLATE/custom.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/question.yaml
  .github/label-actions.yml
  .github/workflows/label-actions.yml
  .github/workflows/support.yml
  README.md
  docs/docs/install.mdx
  docs/src/pages/github-repo.md
Due: prettify

chore: rn ci on podspec change
  .github/workflows/ios.yml
Due: none

chore: updates to issue template and gh actions (#781)
  .github/ISSUE_TEMPLATE/custom.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/question.yaml
  .github/label-actions.yml
  .github/workflows/label-actions.yml
  .github/workflows/support.yml
  README.md
  docs/docs/install.mdx
  docs/src/pages/github-repo.md
Due: prettify

chore: cleaner podspec (#780)
  .github/workflows/ios.yml
  packages/document-picker/react-native-document-picker.podspec
  packages/document-viewer/react-native-document-viewer.podspec
Due: none

chore: disable blank issues
  .github/ISSUE_TEMPLATE/config.yml
Due: none
